section#shop.module-small
  .container
    //- MODULE TITLE
    .row
      .col-sm-6.col-sm-offset-3
        h2.module-title.font-alt ADVISORS
    //- /MODULE TITLE
    .row.multi-columns-row
      //- ADVISOR
      .col-sm-6.col-md-3.col-lg-3
        .shop-item
          .shop-item-image
            img(src='bootstrap/assets/images/shop/product-2.jpg', alt='')
            .shop-item-detail
              a.btn.btn-round.btn-b Add to cart
          h5.shop-item-title.font-alt
            a(href='#') Accessories Pack
          |               £9.00
      //- /ADVISOR
      //- ADVISOR
      .col-sm-6.col-md-3.col-lg-3
        .shop-item
          .shop-item-image
            img(src='bootstrap/assets/images/shop/product-3.jpg', alt='')
            .shop-item-detail
              a.btn.btn-round.btn-b Add to cart
          h5.shop-item-title.font-alt
            a(href='#') Men’s Casual Pack
          |               £12.00
      //- /ADVISOR
      //- ADVISOR
      .col-sm-6.col-md-3.col-lg-3
        .shop-item
          .shop-item-image
            img(src='bootstrap/assets/images/shop/product-4.jpg', alt='')
            .shop-item-detail
              a.btn.btn-round.btn-b Add to cart
          h5.shop-item-title.font-alt
            a(href='#') Men’s Garb
          |               £6.00
      //- /ADVISOR
      //- ADVISOR
      .col-sm-6.col-md-3.col-lg-3
        .shop-item
          .shop-item-image
            img(src='bootstrap/assets/images/shop/product-5.jpg', alt='')
            .shop-item-detail
              a.btn.btn-round.btn-b Add to cart
          h5.shop-item-title.font-alt
            a(href='#') Cold Garb
          |               £14.00
      //- /ADVISOR
    //-
      <div class="row m-t-30">
      <div class="col-sm-12 text-center">
      <a href="shop-grid-col-3.html" class="btn btn-b btn-round">See all products</a>
      </div>
      </div>


