section#about.module
  .container
    //- MODULE TITLE
    .row
      .col-sm-6.col-sm-offset-3
        h2.module-title.font-alt Social Mining
        .module-subtitle.font-serif
          | We’re an award winning London based digital agency, lovingly curating pixels for maximum impact. We don’t have a style — we have standards.
    //- /MODULE TITLE
    .row
      //- ABOUT STUDIO
      .col-sm-6
        h5.font-alt.m-t-0.m-b-20 We're creative
        p
          | The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
        p
          | To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce
        p
          a(href='about.html') More About →
      //- /ABOUT STUDIO
      //- SKILLS
      .col-sm-6
        h6.progress-title.font-alt Development
        .progress
          .progress-bar.pb-dark(aria-valuenow='60', role='progressbar', aria-valuemin='0', aria-valuemax='100')
            span.font-alt
        h6.progress-title.font-alt Branding
        .progress
          .progress-bar.pb-dark(aria-valuenow='80', role='progressbar', aria-valuemin='0', aria-valuemax='100')
            span.font-alt
        h6.progress-title.font-alt Marketing
        .progress
          .progress-bar.pb-dark(aria-valuenow='50', role='progressbar', aria-valuemin='0', aria-valuemax='100')
            span.font-alt
        h6.progress-title.font-alt Photography
        .progress
          .progress-bar.pb-dark(aria-valuenow='90', role='progressbar', aria-valuemin='0', aria-valuemax='100')
            span.font-alt
      //- /SKILLS
