section.module.module-parallax.bg-light-60(data-background='bootstrap/assets/images/section-2.jpg')
  .container
    .row
      .col-sm-6.col-sm-offset-3
        //- TESTIMONIALS CAROUSEL
        .owl-carousel.slider-testimonials.text-center
          //- SLIDE 1
          .item
            h5.module-icon.m-b-20
              span.icon-quote
            .font-serif.m-b-20
              | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            .quote-author.font-alt Jack Woods / Somecompany inc.
          //- /SLIDE 1
          //- SLIDE 2
          .item
            h5.module-icon.m-b-20
              span.icon-quote
            .font-serif.m-b-20
              | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            .quote-author.font-alt Jack Woods, Somecompany inc.
          //- /SLIDE 2
          //- SLIDE 3
          .item
            h5.module-icon.m-b-20
              span.icon-quote
            .font-serif.m-b-20
              | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            .quote-author.font-alt Jack Woods, Somecompany inc.
          //- /SLIDE 3
        //- /TESTIMONIALS CAROUSEL
