//- /CONTACT
//- FOOTER
section.module-small.bg-light
  .container
    .row
      .col-sm-3
        //- IMAGE OR SIMPLE TEXT
        img(src='bootstrap/assets/images/site-logo.png', alt='')
    .row.m-t-40
      .col-sm-3
        h5.font-alt.m-t-0.m-b-20  
        p
          | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
        p
          a(href='#') Who We Are →
      .col-sm-3
        h5.font-alt.m-t-0.m-b-20 Connect
        |             Email: somecompany@example.com
        br
        |             Phone: +1 234 567 89 10
      .col-sm-3
        h5.font-alt.m-t-0.m-b-20 Useful links
        ul.list-unstyled
          li
            a(href='about-1.html') About
          li
            a(href='service-1.html') Services
          li
            a(href='portfolio-white-hover.html') Portfolio
          li
            a(href='faq-1.html') FAQ
      .col-sm-3
        h5.font-alt.m-t-0.m-b-20 Follow us
        ul.list-unstyled
          li
            a(href='https://-twitter.com/') Twitter
          li
            a(href='https://-www.facebook.com/') Facebook
          li
            a(href='https://-dribbble.com/') Dribbble
hr.divider
//- DIVIDER

