section#hero.module-hero.module-video.module-full-height.bg-dark-30(data-background='bootstrap/assets/images/section-11.jpg')
  //- HERO TEXT
  .hero-caption
    .hero-text
      //- HERO TEXT
      .hero-caption
        .hero-text
          //-- h5.mh-line-size-4.font-alt.m-b-50 Simple & Powerful
          h1.mh-line-size-1.font-alt.m-b-60 FOUNDATION
          h5.mh-line-size-5.font-alt.m-b-50 Pro Social Cryptocurrency
      //- /HERO TEXT
  //- /HERO TEXT
  //- YOUTUBE VIDEO
  
  //- .video-player(data-property="{videoURL:'https://www.youtube.com/watch?v=NZlfxWMr7nc', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}")

  .video-player(data-property="{videoURL:'https://-www.youtube.com/watch?v=EMy5krGcoOU', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}")
  //- /YOUTUBE VIDEO



