doctype html
html(lang='en')


  include includes/head.pug


  body

    //- PRELOADER
    .page-loader
      .loader Loading...
    //- /PRELOADER

    //- WEBSITE WRAPPER
    .wrapper


      include includes/navbar.pug

      include includes/video.pug

      include includes/about.pug

      hr.divider

      include includes/social-mining.pug
      
      hr.divider

      include includes/validation-mining.pug

      hr.divider

      include includes/team.pug

      hr.divider

      include includes/advisor.pug

      hr.divider

      include includes/contact.pug

      include includes/footer.pug



      //- UNUSED SECTIONS
        //- include includes/portfolio.pug
        //- include includes/testimonial.pug
        //- include includes/services.pug
        //- include includes/features.pug
        //- include includes/blog.pug
      //- UNUSED SECTIONS

    //- SCROLLTOP
    .scroll-up
      a(href='#totop')
        i.fa.fa-angle-double-up

    include includes/footer-js-files.pug